# Environment variables
.env

# Build outputs
frontend/build/
frontend/node_modules/

# Sensitive files
*.pem
*policy*.json
ql -U postgres*

# IDE files
.vscode/
*.code-workspace

# OS files
.DS_Store
